@(message: String)

@main("Tickler") {
    <div>
        <legend>Post a Tickle</legend>
        <div class="well">
            <textarea id="tickle" class="span6" placeholder="tickle"></textarea>
            <button class="btn btn-default" onclick="post();">Post</button>
        </div>
    </div>
    <div>
        <legend>Tickles</legend>
        <div class="well" id="tickles"></div>
        <div id="more_section"></div>
    </div>
    <script type="text/javascript">
        $("#more_section").append('<div class="alert alert-info"><button id="more" class="btn" onclick="more();">more</button></div>')
        var current = 1;
        function more(){
            var result = true;
            if (current > 0) result = pageLoader(current, 10);
            if (!result) {
               current--;
               emsg('No more data to load.');
            } else {
                current++;
            }
        }
        more();
    </script>
}
